################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CallBack_Task/obj/Debug/net6.0-windows/CallBack_Task.AssemblyInfo.cs
/CallBack_Task/obj/Debug/net6.0-windows/CallBack_Task.AssemblyInfoInputs.cache
